#footer > footer {
  background-color: var(--color-verde-oscuro);
  width: 100vw;
  position: absolute;
  left: 0;
  margin: 0;
}

#footer *:not(i) {
  font-family: Open-Sans-light, sans-serif;
}

div > h6 > a {
  font-family: Open-Sans-medium, sans-serif !important;
  color: white !important;
}

.colorAmarilloHover:hover {
  color: var(--color-amarillo-hover) !important;
}
